.navbar,
.navbar-expand-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  box-shadow: 2px 5px 2px 3px rgba(255, 255, 249, 0.8);
}
.header {
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #fff;
}
